<script>
    $(function () {
        $(".btn-book-room").click(function () {
            $this = $(this);
            $bookingId = $this.attr("rel");
            $roomId = $this.parents(".card").attr("rel");

            $.ajax({
                type: "POST",
                url: "/bookings/booked/room",
                data: {
                    _csrf: $csrf,
                    bookingId: $bookingId,
                    roomId: $roomId
                },
                success: function (data) {
                    if (data) {
                        $this.parent().find(".text-booking-status").remove();
                        $this.parent().append("<h4><span class='label label-success'>Booked</span></h4>");
                        $this.remove();
                    } else {
                        alert("an error has occured!!");
                    }
                }
            });
        });

        $(".btn-booked-room-cancel").click(function(){
            $roomId = parseInt($(this).parents(".card").attr("rel"));
            $bookingId = parseInt($(this).attr("rel"));
            $this = $(this);
            $.ajax({
                type: "POST",
                url: "/bookings/booked/room/cancel",
                data: {
                    _csrf: $csrf,
                    bookingId: $bookingId,
                    roomId: $roomId
                },
                success: function (data) {
                    if (data) {
                        $this.parents(".card").find("h4 span.text-booking-status").removeClass().addClass("label label-danger").html("cancelled");
                        $this.remove();
                    } else {
                        alert("an error has occured!!");
                    }
                }
            });
        });


        $(document).on("click", ".btn-check-in-room-booking", function () {
            $roomId = parseInt($(this).parents(".card").attr("rel"));
            $bookingId = parseInt($(this).attr("rel"));
            $this = $(this);

            $.ajax({
                type: "POST",
                url: "/checkins/booking/save",
                data: {
                    _csrf: $csrf,
                    booking: $bookingId,
                    room: $roomId
                },
                success: function (data) {
                    if (data) {
                        $this.parents(".card").find("h4 span.text-booking-status").removeClass().addClass("label label-success").html("checked");
                        $this.parents("div.div-room-booking-checking").find("button").remove();
                    }
                }
            });
        });

        $(document).on("click", ".btn-check-in-room-direct", function () {
            $roomId = parseInt($(this).parents(".card").attr("rel"));
            $("#form-assign-task-dialog input[name=room]").val($roomId);
            $("#form-assign-task-dialog").modal();
        });
    });
</script>