<div class="modal fade" id="form-add-room-facility-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header with-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add facility</h4>
                <a class="btn btn-sm btn-primary create-facility-btn-modal" href="javascript:void(0)"><i class="fa fa-plus"></i> Create</a>
            </div>

            <form id="room-facility-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 form-group">
                                <label>Facility</label>
                                <select name="facility" id="select-room-facility-id">
                                    <option th:value="${facility.id}" th:text="${facility.name}"
                                        th:each="facility: ${facilities}"></option>
                                </select>
                            </div>
                        </div>
                        <div class=" col-md-12">
                            <div class="col-md-12 form-group">
                                    <label>Status:
                                        <input type="checkbox" name="status"/>
                                    </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                        <input type="hidden" name="id" value="0">
                        <input type="hidden" name="room" value="0">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="rooms/manager/facility-modal/create-facility-dialog"></div>