<div class="modal fade" id="form-assign-task-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header with-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Assign task</h4>
            </div>

            <form action="/tasks/room/save" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 form-group">
                                <label>Task</label>
                                <div class="input-group">
                                    <select id="select-task-id" name="task" style="width:100%;">
                                        <option th:value="${task.id}" th:text="${task.name}" th:each="task: ${tasks}">
                                        </option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button id="add-task-btn" title="Create new task"
                                            class="btn btn-primary glyphicon glyphicon-plus" type="button"></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Description</label>
                                <textarea name="description" id="" cols="40" rows="3"></textarea>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Occurrence</label>
                                <select name="occurrence">
                                    <option value="Hourly">Hourly</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Priority</label>
                                <input class="form-control" type="number" min="1" max="7" name="priority" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Assign Task To</label>
                                <div class="input-group">
                                    <select name="staff" id="select-staff-id" style="width: 100%;"></select>
                                    <span class="input-group-btn">
                                        <button roomId="0" id="add-room-staff-btn" title="Add new room staff"
                                            class="btn btn-primary glyphicon glyphicon-plus" type="button"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" value="0">
                    <input type="hidden" name="room" value="0">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="rooms/manager/task-modal/create-task-dialog"></div>
<div th:replace="rooms/manager/task-modal/room-staffs-dialog"></div>
