<div class="pull-left">
    <div class="btn-group" th:rel="${room.id}">
        <button type="button" style="background-color: #F3C49D;" class="btn btn-default btn-flat"
            data-toggle="dropdown"><i class="fa fa-align-left"></i></button>
        <ul class="dropdown-menu" role="menu" th:rel="${room.id}">
            <li class="assign-task-btn" th:rel="${room.id}" th:roomNo="${room.roomNo}">
                <a href="javascript:void(0)">Assign Task</a>
            </li>

            <li class="view-facilities-btn" th:rel="${room.id}" th:roomNo="${room.roomNo}">
                <a href="javascript:void(0)">View Facilities</a>
            </li>
        </ul>
    </div>
</div>