<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/webjars/adminlte/2.3.11/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li th:class="'treeview '+ ${activeMenu=='auth'?'active':''}"
        th:if="${T(com.cibt.hms.core.SecuredController).hasRole('superadmin')}">
        <a href="#">
          <i class="fa fa-th"></i> <span>UserRole Manager</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/users"><i class="fa fa-circle-o"></i> Users</a></li>
          <li>
            <a href="/roles"><i class="fa fa-circle-o"></i> Roles</a>
          </li>
        </ul>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='status'?'active':''}"
        th:if="${T(com.cibt.hms.core.SecuredController).hasRole('superadmin')}">
        <a href="/status">
          <i class="fa fa-th"></i> <span>Status</span>
        </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='hotel'?'active':''}" th:unless="${T(com.cibt.hms.core.SecuredController).hasRole('staff', 'receptionist')}">
        <a href="/hotels">
          <i class="fa fa-th"></i> <span>Hotels</span>
        </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='staff'?'active':''}" th:if="${T(com.cibt.hms.core.SecuredController).hasRole('superadmin')}">
        <a href="/staffs">
          <i class="fa fa-fw fa-users"></i> <span>Staffs</span>
        </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='room'?'active':''}" th:if="${T(com.cibt.hms.core.SecuredController).hasRole('manager','staff')}">
        <a th:href="'/rooms?hId=' + ${hId}">
          <i class="fa fa-tw fa-hotel"></i> <span>Rooms</span>
         </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='room'?'active':''}" th:if="${T(com.cibt.hms.core.SecuredController).hasRole('receptionist')}">
        <a th:href="'/rooms?hId=' + ${hId} + '&roomIds'">
          <i class="fa fa-tw fa-hotel"></i> <span>Rooms</span>
         </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='staff'?'active':''}" th:if="${T(com.cibt.hms.core.SecuredController).hasRole('manager')}">
        <a th:href="'/staffs?hId=' + ${hId}">
          <i class="fa fa-fw fa-users"></i> <span>Staffs</span>
        </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='task'?'active':''}" th:if="${T(com.cibt.hms.core.SecuredController).hasRole('manager', 'staff')}">
        <a th:href="'/tasks?hId=' + ${hId}">
          <i class="fa fa-fw fa-tasks"></i> <span>Tasks</span>

        </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='booking'?'active':''}" th:if="${T(com.cibt.hms.core.SecuredController).hasRole('manager', 'receptionist')}">
        <a th:href="'/bookings?hId=' + ${hId}">
          <i class="fa fa-fw fa-tasks"></i> <span>Bookings</span>
        </a>
      </li>
      <li th:class="'treeview '+ ${activeMenu=='checkin'?'active':''}" th:if="${T(com.cibt.hms.core.SecuredController).hasRole('manager','receptionist')}">
        <a th:href="'/checkins?hId=' + ${hId}">
          <i class="fa fa-fw fa-tasks"></i> <span>Check Ins</span>

        </a>
      </li>
      <li th:if="${T(com.cibt.hms.core.SecuredController).hasRole('manager')}">
        <a th:href="'/tasks/report?hId=' + ${hId}">
          <i class="fa fa-fw fa-tasks"></i> <span>Task Report</span>

        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 th:text="${pageTitle}"></h1>
  </section>
  <section class="content">